.sobre-nosotros {
  color: white;
  display: flex;
  height: 80vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sobre-nosotros div {
  background-color: rgb(83, 0, 0);
  border: thin solid rgb(56, 0, 0);
  width: 65%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.about__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__form form {
  display: flex;
  flex-direction: column;
}

.about__form textarea {
  color: black;
  width: 30vw;
  height: 10vh;
  resize: none;
}

.about__form button {
  color: black;
}
