.about-container {
  background: linear-gradient(rgb(78, 78, 78), rgb(53, 53, 53));
  color: white;
  border: thin solid rgb(56, 0, 0);
  border-radius: 1vw;
  margin: 2.5vh 0;
  height: 75vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about {
  /* background-color: rgb(83, 0, 0); */
  height: 75vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.about__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__form form {
  display: flex;
  flex-direction: column;
}

.about__form textarea {
  background: linear-gradient(rgb(255, 255, 255), 90%, rgba(83, 0, 0, 0.315));

  color: black;
  border-radius: 0.3vw;
  width: 30vw;
  height: 10vh;
  resize: none;
}

.about__form button {
  color: black;
  border: thin solid white;
  border-radius: 0.3vw;
  height: 4vh;
}

.about__form button:hover {
  background: linear-gradient(rgb(134, 0, 0), rgb(83, 0, 0));
  color: white;
  border-radius: 0.3vw;
  height: 4vh;
  transition: color 0.8s;
  animation: changeAboutButton 0.6s forwards;
}

@keyframes changeAboutButton {
  from {
    background: white;
  }
  to {
    background: linear-gradient(rgb(134, 0, 0), rgb(83, 0, 0));
  }
}
