.card {
  background-color: rgb(53, 53, 53);
  color: white;
  border: thin solid white;
  border-radius: 0.5vw;
  margin: 0.5rem;
  height: 20rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
}

.card img {
  height: 15rem;
  border-radius: 0.5vw;
  background: linear-gradient(rgb(78, 78, 78), 80%, rgb(53, 53, 53));
}

.card p {
  height: 3rem;
}

.card button {
  border-radius: 0.5vw;
  height: 2rem;
  color: black;
}

.card button:hover {
  background: linear-gradient(rgb(134, 0, 0), rgb(83, 0, 0));
  color: white;
  transition: color 0.8s;
  animation: changeCardButton 0.6s forwards;
}

@keyframes changeCardButton {
  from {
    background: white;
  }
  to {
    background: linear-gradient(rgb(134, 0, 0), rgb(83, 0, 0));
  }
}
