.cart-item {
  background-color: rgb(83, 0, 0);
  border: thin solid rgb(56, 0, 0);
  height: 10vh;
  width: 80vw;
  margin: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.par {
  background-color: rgb(53, 53, 53);
}

.impar {
  background-color: rgb(78, 78, 78);
}

.cart-item__data {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item__data a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item__data a p {
  margin-right: 0.5rem;
}

.cart-item__data a img {
  width: 3vw;
  height: 7vh;
}

.cart-item__price {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item__remove {
  color: black;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item__remove input {
  width: 14vw;
  height: 5vh;
}
