.cart-container {
  margin: 2.5vh 0;
  min-height: 75vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart {
  min-height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productos-carrito {
  flex-grow: 1;
}

.manage-cart {
  color: black;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.manage-cart__add {
  color: black;
  height: 4.5vh;
  width: 70%;
}

.manage-cart__add a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.manage-cart__add a button {
  height: 100%;
  width: 100%;
}

.manage-cart__buy {
  height: 4.5vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-cart__buy input {
  height: 100%;
  width: 100%;
}

.manage-cart__remove {
  height: 4.5vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-cart__remove input {
  height: 100%;
  width: 100%;
}

@media ((min-width: 1367px) and (max-width: 1920px)) {
  .cart-container {
    width: 70vw;
  }

  .cart {
    min-height: 75vh;
    width: 100%;
  }

  .manage-cart {
    height: 10vh;
    justify-content: space-around;
  }

  .manage-cart__add {
    height: 7.5vh;
    width: 25%;
  }

  .manage-cart__buy {
    height: 7.5vh;
    width: 25%;
  }

  .manage-cart__remove {
    height: 7.5vh;
    width: 25%;
  }
}
