.item-purchased {
  background: linear-gradient(
    to right,
    rgb(53, 53, 53) 20%,
    rgb(78, 78, 78) 50%,
    rgb(53, 53, 53) 80%
  );
  border: thin solid rgb(155, 155, 155);
  border-radius: 2vw;
  margin: 0.2rem 0;
  min-height: 19vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.item-purchased a {
  border-radius: 2.5vw;
  height: 4.5vh;
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-purchased a button {
  border-radius: 2.5vw;
  color: black;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

@media ((min-width: 1367px) and (max-width: 1920px)) {
  .item-purchased {
    border: 2px solid rgb(155, 155, 155);
    border-radius: 0.5vw;
    margin: 5px 0;
    height: 15vh;
    width: 70vw;
    flex-direction: row;
  }

  .item-purchased h3 {
    width: 40%;
  }

  .item-purchased a {
    border-radius: 0.4vw;
    height: 45%;
    width: 15%;
  }

  .item-purchased a button {
    border-radius: 0.4vw;
  }
}
