.login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 80vh;
  background: linear-gradient(
    to right,
    rgb(58, 58, 58),
    33%,
    rgb(73, 73, 73) 50%
  );
}
.loginn {
  /*   background-color: rgb(255, 205, 205); */
  background-color: rgb(73, 73, 73);
  color: white;
  /* border-left: thin solid rgb(158, 158, 158); */
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.loginn h1 {
  height: 7.5vh;
}

.loginn div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.loginn a {
  height: 7.5vh;
}

.loginn__form {
  background-color: rgb(58, 58, 58);
  /* border: thin solid rgb(255, 162, 162); */
  border: thin solid rgb(53, 53, 53);
  height: 70%;
  width: 40vw;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* .loginn__form label {
  margin: 0.5rem;
}

.loginn__form button {
  margin: 0.5rem;
}
 */
