.product-detail-container {
  min-height: 80vh;
}

.product-detail {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail__img {
  height: 70vh;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail__data {
  background-color: rgb(83, 0, 0);
  border: thin solid rgb(56, 0, 0);
  min-height: 50vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.product-detail__data section {
  width: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-detail__data section button {
  background-color: rgba(78, 78, 78, 0.603);
  border: thin solid rgb(78, 78, 78);
  border-radius: 0.8vw;
  width: 30%;
  height: 4vh;
}

.product-detail__data button {
  background-color: rgb(179, 0, 0);
  border: thin solid rgb(78, 78, 78);
  border-radius: 0.4vw;
  height: 6vh;
  width: 10vw;
}
