.products-container {
  margin: 2.5vh 0;
  min-height: 75vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  color: white;
  min-height: inherit;
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.filter-cards {
  margin: 0.5rem;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__filter {
  background: linear-gradient(rgba(53, 53, 53), 80%, rgb(78, 78, 78));
  border: thin solid black;
  border-radius: 3vw;
  margin: 1vh 0;
  max-height: 30vh;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.products__filter select {
  color: black;
  border-radius: 1.5vw;
}

.products__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-by {
  background: linear-gradient(to right, rgba(53, 53, 53), 70%, rgb(78, 78, 78));
  color: black;
  border: thin solid black;
  border-radius: 2vw;
  margin: 1vh 0;
  height: 5vh;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sort-by select {
  border-radius: 0.5vw;
  height: 3.5vh;
  width: 40vw;
  margin-right: 3rem;
}

.card-container {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media ((min-width: 1367px) and (max-width: 1920px)) {
  .products-container {
    width: 70vw;
  }

  .products {
    width: 70vw;
  }

  .filter-cards {
    flex-direction: row;
    align-items: initial;
  }

  .products__filter {
    border: thin solid black;
    border-radius: 1.5vw;
    margin: 0;
    margin-left: 1rem;
    max-height: 65vh;
    width: 25%;
  }

  .products__cards {
    width: 75%;
  }

  .sort-by {
    border-radius: 1vw;
    margin: 0;
    width: 95%;
  }

  .sort-by select {
    width: 12vw;
  }
}
