.purchases-container {
  margin: 2.5vh 0;
  min-height: 75vh;
  width: 90vw;
}

.purchases {
  width: 100%;
}

@media ((min-width: 1367px) and (max-width: 1920px)) {
  .purchases-container {
    width: 70vw;
  }
}
