.purchased-detail-item-container {
  height: 100%;
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchased-item {
  background: linear-gradient(to right, rgb(53, 53, 53), rgb(78, 78, 78) 80%);
  border: thin solid black;
  margin: 0.1rem 0;
  height: 18vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.purchased-item div {
  width: 25%;
}

.purchased-item div img {
  height: 10vh;
  width: 40%;
}
