.register {
  min-height: 80vh;
  background: linear-gradient(
    to left,
    rgb(58, 58, 58),
    33%,
    rgb(73, 73, 73) 50%
  );
}

.registerr {
  /* background-color: rgb(255, 205, 205); */
  background-color: rgb(73, 73, 73);
  color: white;
  /* border-right: thin solid gray; */
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.registerr h1 {
  height: 7.5vh;
}

.register__form {
  /* background-color: rgb(255, 193, 193); */
  background-color: rgb(58, 58, 58);
  /* border: thin solid rgb(255, 162, 162); */
  border: thin solid rgb(53, 53, 53);
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.registerr p {
  height: 7.5vh;
}
