.register-container {
  background: linear-gradient(to left, rgb(49, 0, 0), 33%, rgb(77, 0, 0) 50%);
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

.register {
  color: white;
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.register h1 {
  height: 7.5vh;
}

.register p {
  height: 7.5vh;
}

.register__form {
  background-color: rgb(68, 0, 0);
  border: thin solid rgb(48, 0, 0);
  border-radius: 1vw;
  height: 40vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.register__form input {
  color: black;
  border: thin solid white;
  border-radius: 0.4vw;
  height: 7%;
  width: 75%;
}

.register__form button {
  height: 10%;
  width: 40%;
  color: black;
}

@media ((min-width: 1367px) and (max-width: 1920px)) {
  .register-container {
    justify-content: flex-start;
  }

  .register__form {
    height: 45vh;
    width: 40vw;
  }

  .register__form input {
    height: 7%;
    width: 55%;
  }

  .register__form button {
    height: 13%;
    width: 25%;
  }
}
